section#clients
    .clients_main_text
        p Our Clients
    .clients_container
        .clients_container_outer_element
            .clients_container_inner_element
                .clients_logo
                    img(src=require("../images/partner1.png"), alt="mark Strong")
                .clients_name
                    p company name
        .clients_container_outer_element
            .clients_container_inner_element
                .clients_logo
                    img(src=require("../images/partner2.png"), alt="travis")
                .clients_name
                    p company name
        .clients_container_outer_element
            .clients_container_inner_element
                .clients_logo
                    img(src=require("../images/partner3.png"), alt="collins")
                .clients_name
                    p company name
        .clients_container_outer_element
            .clients_container_inner_element
                .clients_logo
                    img(src=require("../images/partner4.png"), alt="dary")
                .clients_name
                    p company name
        .clients_container_outer_element
            .clients_container_inner_element
                .clients_logo
                    img(src=require("../images/partner5.png"), alt="vintage")
                .clients_name
                    p company name
        .clients_container_outer_element
            .clients_container_inner_element
                .clients_logo
                    img(src=require("../images/partner6.png"), alt="garry wilberg")
                .clients_name
                    p company name