section#gallery
    .section_main_text
        p Our Gallery
    .gallery_container
                a(href=require("./../images/gallery1.jpg") data-lightbox="gallery")
                        img(src=require("./../images/gallery1.jpg"), alt="Desc, keyboard and sun glasses")
                a(href=require("./../images/gallery2.jpg") data-lightbox="gallery")
                        img(src=require("./../images/gallery2.jpg"), alt="Men tapping")
                a(href=require("./../images/gallery3.jpg") data-lightbox="gallery")
                        img(src=require("./../images/gallery3.jpg"), alt="Two people smiling")
                a(href=require("./../images/gallery4.jpg") data-lightbox="gallery")
                        img(src=require("./../images/gallery4.jpg"), alt="Woman tapping")
